body{
    font-family:helvetica;
    background:rgb(255,255,255);
    font-size:15px;
    line-height:1.5;
    color:rgb(0,0,0);
    
    
}
.container2{
    width:80%;
    margin:auto;
}
header{
    background-color:rgb(115,150,210);
    min-height: 140px;
    border-bottom: blue 3px solid;
    margin-bottom:0px;
    
}
/*positioning title*/
#img1{
    float:left;
    margin-top:40px;
    opacity:1;
    
}
header li{
    display:inline;
    font-size: 15px;
    position:relative;
    bottom:50px;
}
header a{
    text-decoration:none;
    color:black;
    font-family: monospace;
    opacity:1;
}
/*positioning nav. links*/
nav{
    position:relative;
    float:right;
    font-family:Helvetica;
    height:40px;
    font-size:40px;
    margin-top:0px;
    margin-left:30px;
    margin-right:15px;
    top:40px;
}
header background{
    opacity: 0.5;
}
/*changing font style and color when hovered*/
header a:hover{
    color:blue;
    font-family: helvetica;
    border-bottom-style:dashed;
}
/*positioning the landscape image*/
.container #background2 img{
    position:absolute;
    margin:auto;
    bottom:7.5%;
    right:10.5%;
    
}
footer {
    background-color:rgb(115,150,210);
    font-family:helvetica;
    border-top: blue 3px solid;
    
    
}
footer pre{
    font-size: 20px;
    font-weight: bold;
}
footer li{
    display:inline;
}
footer a:hover{
    color:white;
    font-family:cursive;
}
h1{
    margin:auto;
    
    
}
#sidebar{
    float:right;
    width:40%;
    margin-bottom: 40px;
    margin-top:-200px;
    
    
    


}
h2{
    text-align: center;
}
.dark{
    padding:15px;
    background:rgb(220,220,220);
    margin-top:10px;
    margin-bottom:10px;
}
/*adjusting the bio.html page when window size changes*/
@media(min-width:1901px){
    .about{
        top:-275px;
    }
}
@media(max-width:1900px){
    .about{
        top:-275px;
    }
}
@media(max-width:1751px){
    .about{
        top:-200px;
    }
}
@media(max-width:1650px){
    .about{
        top:-150px;
    }
}
@media(max-width:1550px){
    .about{
        top:-100px;
    }
}
@media(max-width:1450px){
    .about{
        top:-50px;
    }
}
@media(max-width:1300px){
    .about{
        top:0px;
    }
}
@media(max-width:1200px){
    .about p{
        font-size: 13px;
    }
}
@media(max-width:1050px){
    .about p{
        font-size: 11.5px;
    }

}
@media(max-width:990px){
     header{
        min-height: 200px;
    }   
    nav{
        float:left;
    }
}
@media(max-width:930px){
    .about h3{
        font-size: 13px;
    }
    .about p{
        font-size: 11px;
    }
    .about{
        top:100px;
    }
    .container5 p{
        font-size:80%;
    }
}
@media(max-width:700px){
    .lower{
        font-size: 75%;
    }
    .about{
        top:200px;
    }
    .container5 p{
        font-size: 70%;
    }
}
@media(max-width:600px){
    .container5 p{
        font-size: 60%;
    }
}
@media(max-width:550px){
    .lower{
        font-size: 55%;
        margin-top: 10px;
    }
    .about{
        top:250px;
    }
    .container5 p{
        font-size:50%;
    }
}
@media(max-width:450px){
    .container5 p{
        font-size:40%;
    }
}
/* container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* centered text */
.centered {
    position: absolute;
    font-family: helvetica;
    font-size:200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*lower text in the bubble*/
.lower{
    position:absolute;
    font-family: helvetica;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:rgb(150,150,150,0.75);
    border-radius:15px;
    padding:4px;

    
}
.container3 {
    text-align: center;
    position:relative;
    background:url(running.jpg);
    background-size: cover;
    
}
h3{
    position:relative;
    text-decoration: none;
    font-family: helvetica;
    font-size: 100%;
    background-color: white;
    width:30%;
    margin:auto;
    margin-bottom: 40px;
    margin-top:40px;
    padding:10px;
    border-width: 5px;
    border-color: black;
    border-style:double
}
.container3 p{
    width: 400px; 
    position: relative; 
    margin:auto;
    padding: 35px;
    background: rgb(120,10,0,0.5);
    border-radius:50px;
    color:white;

    

}
.container2 {
    position:relative;
    background-color:rgb(115,150,210);
    font-family:helvetica;

}
.container2 pre{
    font-size: 20px;
    font-weight: bold;
}
.container2 li{
    display:inline;
}
.container2 a:hover{
    color:blue;
    font-family:cursive;
}
.about{
    position:relative;
    transform: translate(0, -175%);
    z-index:1;
    margin:auto;
    width:100%;
    
}
.container3 img{
    margin:auto;
    width:90%;
    opacity:0;
}
.container5 {
    margin:auto;
    position:relative;
    background:url(background.jpg);
    background-size:cover;
}

.container #background{
    position:relative;
    z-index:-1;
}

#title img{
    position:relative;
    margin:auto;
    transform: translate(50%, -700%);
    
}
.container5 p{
    position:absolute;
    width:60%;
    color:white;
    margin:auto;
    font-family: helvetica;
    background-color: rgb(100,100,0,0.3);
    padding:5px;
    border-radius:10px;
    top:20%;
    right:20%;
}
.container5 p a{
    text-decoration: none;
    color:white;
}
.container5 p a:hover{
    font-family: cursive;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.container5 #xcimage{
    position:absolute;
    top:45%;
    left:37%;
    width:50%;

}
#background1{
    opacity:0;
}
#description img{
    margin-top: 7%;
    position:absolute;
    left:15%;
}
h6{
    position:relative;
    margin-bottom: 40%;
    left:55%;
    display:table;
    font-size: 110%;
    font-family:arial black;
    color:rgb(100, 197, 198);
    border-bottom-style: solid;
}
/*made it relative so that the paragraph with position: absolute can position at #description instead of the entire website*/
#description {
    position:relative;

}
h7{
    display:block;
    margin-top:1%;
    border-bottom-style: solid;
    border-bottom-color: gray;
    
}
.paragraph{
    position: absolute;
    width:40%;
    background:rgba(100,197,198,0.5);
    padding:7px;
    border-radius:10px;
    left: 65%;
    transform: translate(-50%, -50%);
    font-family: cursive;
}
/*adjusting the size of the "My Dog" section paragraph as the window size changes*/
@media(min-width:651px){
    .paragraph{
        font-size:100%;
        top:290%
    }
}
@media(max-width:650px){
    .paragraph{
        font-size:80%;
        top:260%
    }
}@media(max-width:550px){
    .paragraph{
        font-size:60%;
        top:200%;
    }
}
.container6{
    position:relative;
    background:url(background.jpg);
    background-size:cover;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
/*adding the gray highlight and underline at current page nav*/
.highlight{
    background: rgb(200,200,200,0.5);
    border-bottom-style: groove;
    border-bottom-color: white;
    border-radius:5px
}
#iframe1{
    top:30px;
    position:relative;
    margin:auto;
}
h8{
    position:relative;
    color:white;
    font-family: arial black;
    display:inline-block;
    top:30px;
}
h9{
    position:relative;
    color:white;
    display:inline-block;
    font-family: arial black;
    top:0px;
}
h10{
    position:relative;
    width:70%;
    text-align: center;
    color:white;
    display:inline-block;
    top:0px;
    height:100px;

}
h11{
    position:relative;
    display:inline-block;
    color:white;
    font-family:arial black;
}
h12{
    position:relative;
    display:inline-block;
    color:white;
    width:80%;
}
.container6 #iframe2{
    margin-bottom: 100px;
    width:80%;
    position:relative;
}
.container6 #iframe3{
    margin-bottom: 100px;
    width:80%;
    position:relative;
}
.container6 #iframe4{
    margin-bottom: 100px;
    width:80%;
    position:relative;
}
