body{
    font-family:helvetica;
    background:rgb(255,255,255);
    font-size:15px;
    line-height:1.5;
    color:rgb(0,0,0);
    
    
}
.container2{
    width:80%;
    margin:auto;
}
header{
    background-color:rgb(115,150,210);
    min-height: 140px;
    border-bottom: blue 3px solid;
    margin-bottom:0px;
    
}
#img1{
    float:left;
    margin-top:40px;
    opacity:1;
}
header li{
    display:inline;
    font-size: 15px
}
header a{
    text-decoration:none;
    color:black;
    font-family: monospace;
    opacity:1;
}
nav{
    float:right;
    text-decoration: none;
    font-family:Helvetica;
    height:90px;
    font-size:40px;
    margin-top:0px;
    margin-left:-20px;
}
header background{
    opacity: 0.5;
}
header a:hover{
    color:blue;
    font-family: helvetica;
}
#img2{
    width:80%;
    margin:auto;
}
footer {
    background-color:rgb(115,150,210);
    font-family:helvetica;
    border-top: blue 3px solid;
    
    
}
footer pre{
    font-size: 20px;
    font-weight: bold;
}
footer li{
    display:inline;
}
footer a:hover{
    color:white;
    font-family:cursive;
}
h1{
    margin:auto;
    
    
}
#sidebar{
    float:right;
    width:40%;
    margin-bottom: 40px;
    margin-top:-200px;
    
    
    


}
h2{
    text-align: center;
}
.dark{
    padding:15px;
    background:rgb(220,220,220);
    margin-top:10px;
    margin-bottom:10px;
}

@media(max-width:1000px){
     /*header{
        min-height: 200px;
    }*/    
    nav{
        float:left;
    }
    

}
@media(max-width:800px){
    header{
        min-height:250px;
    }
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    font-family: helvetica;
    font-size:200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container3 {
    text-align: center;
    position:relative;
}
h3{
    text-decoration: none;
    font-family: helvetica;
    background-color: white;
    width:30%;
    margin:auto;
    margin-bottom: 40px;
    margin-top:40px;
    padding:10px;
    border-width: 5px;
    border-color: black;
    border-style:double
}
.container3 p{
    width: 400px; 
    position: relative; 
    margin:auto;
    top:350;
    padding: 35px;
    background: rgb(120,10,0,0.5);
    border-radius:50px;
    overflow-x: hidden; 
    color:white;
    
    

}
.container2 {
    background-color:rgb(115,150,210);
    font-family:helvetica;
    border-top: blue 3px solid;
    margin-top: -400px
    
    
}
.container2 pre{
    font-size: 20px;
    font-weight: bold;
}
.container2 li{
    display:inline;
}
.container2 a:hover{
    color:blue;
    font-family:cursive;
}
.about{
    position:relative;
    top:-500px;
    z-index:1;
    margin:auto;
    
}
.container3 img{
    margin:auto;
    width:90%;
}
